services:
  db:
    image: postgres:17-alpine
    container_name: db
    volumes:
      - ./data/pg:/var/lib/postgresql/data
      - ./backups:/backups
    env_file:
      - .env
    ports:
      - "5432:5432"
    networks:
      - postgres-database-network

  pgadmin:
    image: dpage/pgadmin4:9.8.0
    container_name: pgadmin
    env_file:
      - .env
    ports:
      - "5050:80"
    depends_on:
      - db
    networks:
      - postgres-database-network

networks:
  postgres-database-network:
    driver: bridge
